@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
header {
  background: linear-gradient(20deg, #05385bf5 58%, #447ea7);
  color: white;
  height: 770px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo i {
  display: block;
  font-size: 1.8rem;
}
.logo p {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 10px;
}
.bar a {
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: capitalize;
  padding: 2px 10px;
  margin: 0 10px;
  color: white;
}
.main-content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  top: 124px;
  justify-content: center;
}

.content-img {
  position: relative;
  top: 50px;
  left: 15px;
}
.content-title {
  width: 25%;
  position: relative;

  right: 20px;
}
.content-title > h1 {
  text-transform: uppercase;
  font-size: 4.2rem;
  position: relative;
  font-weight: 100;
  width: 700px;
  padding-bottom: 20px;
}
.time {
  color: #fbb92e;
  width: 200px;
  font-size: 1.2rem;

  text-transform: capitalize;
}
.content-title > p {
  padding-bottom: 20px;
  text-transform: capitalize;
}
.content-img > img {
  border-radius: 20px;
  width: 400px;
}
.main-content button {
  text-transform: uppercase;
  font-weight: 500;
  background-color: #fbb92e;
  padding: 8px 14px;
  border: none;
  border-radius: 2px;
}

.list {
  /* padding: 0 350px; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #ffffff;
}

.item-sumarry div > img {
  width: 400px;
}
.item-sumarry .item-price {
  text-align: end;
  padding-top: 100px;
}
.item-sumarry .item-price1 {
  padding-bottom: 100px;
}
.item-sumarry .item-price > h3,
.item-sumarry .item-price1 > h3 {
  color: #fbb92e;
}
.item-price > h2,
.item-price1 > h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.item-price > span,
.item-price1 > span {
  text-transform: uppercase;
  font-weight: 600;
}
.item-price,
.item-price1 > p {
  width: 350px;
  margin: 20px 0;
}
.card-price {
  width: 420px;
  padding: 30px;
  padding-top: 100px;

  height: max-content;
  /* box-shadow: 3px 0px 0px 0px rgb(0 0 0 / 0.5%), */
  /* 4px 0px 0px 0px rgb(0 0 0 / 0.5%), -3px 0px 0px 0px rgb(0 0 0 / 5%); */
}
.card-price1 {
  width: 420px;
  padding: 30px;
  padding-top: 100px;

  height: max-content;
  box-shadow: 3px 0px 0px 0px rgb(0 0 0 / 0.5%),
    4px 0px 0px 0px rgb(0 0 0 / 0.5%), -3px 0px 0px 0px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column-reverse;
}
.sale .banner1 img {
  width: 420px;
  height: 280px;
  opacity: 0.9;
  filter: brightness(50%);
}
.sale .banner2 img {
  width: 420px;
  height: 280px;
  filter: brightness(70%);
}
.sale {
  display: flex;
  justify-content: center;
  gap: 10px;
  
  position: relative;
  color: white;
  flex-wrap: wrap;
}
.sale .banner1 .sale-title,
.sale .banner2 .sale-title {
  position: absolute;
  bottom: 50px;
  padding-left: 20px;
}
.sale .banner1 .sale-title span {
  margin-bottom: 20px;
  display: inline-block;
  font-size: 17px;
  background-color: #f37332;
  padding: 5px 15px;
  border-radius: 20px;
  text-transform: uppercase;
}
.sale .banner2 .sale-title span {
  margin-top: 20px;
  display: inline-block;
  font-size: 17px;
  background-color: #fbb92e;
  color: black;
  padding: 5px 15px;
  border-radius: 4px;
  text-transform: uppercase;
}
.sale .banner1 .sale-title p,
.sale .banner2 .sale-title p {
  width: 300px;
  font-size: 1.2rem;
  margin-top: 20px;
}
.sale .banner1 .sale-title > h2,
.sale .banner2 .sale-title > h2 {
  font-size: 2.3rem;
  text-transform: capitalize;
  font-weight: 500;
}
.sale-section {
  height: fit-content;
  padding: 50px 0;
}
.card{
  width: 202.5px;
  height: 250px;
  /* border: 2px solid; */
  text-align: center;
  box-shadow: 5px 5px 3px 0px rgb(0 0 0 / 46%);
}
.card img{
  width: 200px;
  height: 150px;
}
.card h3{
  
  text-transform: capitalize;
}
.card p{
  color: rgb(228, 56, 56);
  margin-top: 10px;
}
.card button{
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 20px;
  font-weight: 700;
  background-color: #fbb92e;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}
.products{
  margin: 0 auto;
  
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  
}


.our-p{
  
  width: 160px;
  margin: 0% auto;
  border: 2px solid royalblue;
  padding: 20px 0;
}
